.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image:url('../Pictures/img.jpg');
    background-size: cover;
  }
  
  .sh-header-section {
    
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 450px;
    float: left;
    height: 400px;
    background: #666666;
    margin-top: 100px;
    border-radius: 20px;
    height: fit-content;
   
  }

  .sh-head{
    font-weight: 800;
  }

  .sh-tag{
    color: rgb(253, 255, 113);

  }
  
  .sh-learn{
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px grey;
  }
  .info-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-box .icon {
    font-size: 2em; /* Adjust size as needed */
  }

  .sh-buttons-b{
    background-color: aqua;
    margin-right: 15px;
    border: none;
    box-shadow: 0px 0px 4px 0px grey;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sh-buttons-a{
    background-color: red;
    margin-right: 15px;
    border: none;
    box-shadow: 0px 0px 4px 0px grey;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sh-buttons-c{
    background-color: rgb(234, 255, 47);
    border: none;
    box-shadow: 0px 0px 4px 0px grey;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .button-cm {
    background-color: #FFC107; /* Adjust the color to match the image */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-family: monospace;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  .classchild{
    padding: 10px;
   
  
  }
  .Staff{
    width: fit-content;
    align-items: center;
    text-align: center;
  }
  .ww{
    width: 100%;
 
  }
  .puo{
    font-family: monospace;
  }